<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connection"
         connectionString="Data Source=JUANLUIS-PC\TALLERBD; Initial Catalog= Residencias; User ID=SA; password=1Lagrima*"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>